{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<twig:Brodcump pageactuel="list"/>
	<twig:Card:Card>
		<twig:Card:Header>
			<twig:H1>Utilisateurs</twig:H1>
			<twig:Button link="{{ path('app_admin_user_new') }}" type="primary">Nouvaux</twig:Button>
		</twig:Card:Header>
		<div>
			<div class="flex justify-end py-2">
				<twig:Search/>
			</div>

			<twig:Table :thead="['#','Username', 'Roles', 'Email', 'Fullname']">
				{% for key, user in users %}
					<twig:Tr>
						<twig:Td>{{ key + 1 }}</twig:Td>
						<twig:Td>{{ user.username }}</twig:Td>
						<twig:Td>{{ user.roles ? user.roles|json_encode : '' }}</twig:Td>
						<twig:Td>{{ user.email }}</twig:Td>
						<twig:Td>{{ user.fullname }}</twig:Td>
						<td>
							<twig:ActionButton edit="{{ path('app_admin_user_edit', {'id': user.id}) }}" show="{{ path('app_admin_user_show', {'id': user.id}) }}">
								{{ include('admin/user/_delete_form.html.twig') }}
							</twig:ActionButton>
						</td>
					</twig:Tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</twig:Table>
		</div>
	</twig:Card:Card>
{% endblock %}
