<div class="flex flex-col bg-blue-50 px-3">
    <div class="max-w-screen-sm mx-auto">
        {% for sousMenu in sousMenus %}
        <twig:Front:Card:Card class="my-2">
            <twig:Front:Card:CardHeader>
                <twig:Front:Card:CardTitle> {{ sousMenu.title }} </twig:Front:Card:CardTitle>
            </twig:Front:Card:CardHeader>

            <!-- les Images qui sont afficher a un menu particuliere -->
            <twig:Front:Card:CardBody class="">
                {{ sousMenu.description }}
                <div {{ stimulus_controller("slide-image") }} class="sm:grid grid-cols-2 gap-3">
                    {% for image in sousMenu.sousMenuImages %}
                    <img class="w-full h-full border border-primary rounded-md"
                        src="{{ vich_uploader_asset(image, "srcFile") }}" alt="{{ image.content }}">
                    {% endfor %}
                </div>
            </twig:Front:Card:CardBody>
        </twig:Front:Card:Card>
        {% endfor %}
    </div>
</div>