{% set menus = menu_service.getFrontendMenu %}
{% set header = menu_service.getHeaderData %}
{% set currentPath = app.request.get('_route') %}
<header class="h-screen bg-secondary py-4">
    <div class="max-w-screen-sm mx-auto text-white/70">
        <div class="flex gap-2 items-center justify-center sm:hidden">
            <img class="w-8 h-8" src="{{ vich_uploader_asset(header, "logoFile") }}" alt="{{ header.name }}">
            <span class="text-primary font-bold text-2xl"> {{ header.litleName }} </span>
        </div>

        <nav class="fixed left-0 right-0 z-30 sm:bottom-full bottom-0 sm:top-2">
            <div
                class="flex justify-center sm:justify-between items-center bg-secondary/30 backdrop-blur-2xl py-2 sm:py-4 sm:rounded-3xl max-w-screen-sm mx-auto sm:px-2.5">
                <div class="sm:flex gap-2 items-center hidden">
                    <img class="w-8 h-8" src="{{ vich_uploader_asset(header, "logoFile") }}" alt="{{ header.name }}">
                    <span class="text-primary font-bold text-2xl"> {{ header.litleName }} </span>
                </div>
                <ul class="flex gap-3">
                    {% for menu in menus %}
                    <li>
                        <a href="{{ menu.name ? path(menu.name) : "#" }}"
                            class="flex items-center flex-col sm:flex-row gap-1 sm:gap-1.5 font-bold hover:text-primary transition-all whitespace-nowrap {{ currentPath == menu.name ? "text-primary" : "text-white/70" }}">
                            <span class="w-4 h-4 sm:w-4 sm:h-4 block">{{ menu.icon | raw }} </span>
                            <span class="text-xs sm:text-sm">{{ menu.label }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div class="absolute bottom-0 left-0 right-0 top-0 z-10 flex justify-center items-center px-2.5">
            <div class="max-w-screen-sm mx-auto">
                <h2 class="font-bold text-2xl text-primary py-3"> lorem </h2>
                <article> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, doloribus natus voluptatum dolore tenetur hic, blanditiis adipisci amet officia cupiditate maiores deserunt consequatur temporibus, eos distinctio mollitia quasi necessitatibus corrupti! </article>
            </div>
        </div>

        <div class="absolute top-0 left-0 right-0 bottom-0 z-20 flex justify-center items-end pb-16 px-2.5">
            <Button class="bg-primary py-3 px-4 text-sm font-bold rounded-lg z-20 text-black/80">
                en bas
            </Button>
        </div>
    </div>
</header>

{# <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, distinctio deserunt dicta, beatae repellat aut necessitatibus perferendis, possimus dolore quidem reprehenderit debitis perspiciatis quos ut suscipit animi. Provident, dolorem perferendis.
    <div {{ react_component('Dialog') }}>  </div>
</div> #}