{% extends 'base.html.twig' %}

{% block title %}Service
{% endblock %}

{% block body %}
	<twig:Brodcump firstlink="app_admin_service_index" firstlabel="Liste" pageactuel="Voir"/>

	<twig:Card:Card>
		<twig:Card:Header>
			<twig:H1>Service
				{{ service.service }}
			</twig:H1>
		</twig:Card:Header>

		<twig:Card:Body class="p-3">
			<twig:Table :action="false">
				<tbody>
					<twig:Tr>
						<th class="text-start pr-10 py-2">Service</th>
						<twig:Td>{{ service.service }}</twig:Td>
					</twig:Tr>
					<twig:Tr>
						<th class="text-start pr-10 py-2">Description</th>
						<twig:Td>
							<div class="whitespace-normal">
								{{ service.description }}
							</div>
						</twig:Td>
					</twig:Tr>
					<twig:Tr>
						<th class="text-start pr-10 py-2">Image</th>
						<twig:Td>
							<img class="w24 h-24 border-2 border-white" src="{{ vich_uploader_asset(service, "imageFile") }}" alt="{{ service.service }}">
						</twig:Td>
					</twig:Tr>
					<twig:Tr>
						<th class="text-start pr-10 py-2">Is_activated</th>
						<twig:Td>
							{% if service.isActivated %}
								<twig:Badget type="primary">
									activé
								</twig:Badget>
							{% else %}
								<twig:Badget type="danger">
									non activé
								</twig:Badget>
							{% endif %}
						</twig:Td>
					</twig:Tr>
				</tbody>
			</twig:Table>
		</twig:Card:Body>

		<twig:Card:Footer class="flex items-center gap-2 p-3">
			<twig:Action:Edit href="{{ path('app_admin_service_edit', {'id': service.id}) }}"/>
			{{ include('admin/service/_delete_form.html.twig') }}
		</twig:Card:Footer>
	</twig:Card:Card>
{% endblock %}
