{% extends 'base.html.twig' %}

{% block title %}entreprise{% endblock %}

{% block body %}
<twig:Brodcump firstLink="app_admin_entreprise_index" firstLabel="Liste" pageActuel="Voir" />

<twig:Card:Card>
    <twig:Card:Header>
        <twig:H1>entreprise {{ entreprise.name }} </twig:H1>
    </twig:Card:Header>

    <twig:Card:Body class="p-3">
        <table class="table">
        <tbody>
            <tr>
                <th>Logo</th>
                <td>{{ entreprise.logo }}</td>
            </tr>

            <tr>
                <th>Logo</th>
                <td>{{ entreprise.name }}</td>
            </tr>

            <tr>
                <th>Logo</th>
                <td>{{ entreprise.litleName }}</td>
            </tr>

            <tr>
                <th>Activated</th>
                <td>
                    {% if entreprise.activated %}
                    <twig:Badget type="primary"> activé </twig:Badget>
                    {% else %}
                    <twig:Badget type="danger"> non activé </twig:Badget>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    </twig:Card:Body>

    <twig:Card:Footer class="flex items-center gap-2 p-3">
        <twig:Action:Edit href="{{ path('app_admin_entreprise_edit', {'id': entreprise.id}) }}" />
        {{ include('admin/entreprise/_delete_form.html.twig') }}
    </twig:Card:Footer>
</twig:Card:Card>
{% endblock %}