{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Icon</th>
                <th>Is_activated</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Orders</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.icon }}</td>
                <td>{{ menu.isActivated ? 'Yes' : 'No' }}</td>
                <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu.updatedAt ? menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu.orders }}</td>
                <td>
                    <a href="{{ path('app_admin_menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('app_admin_menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_menu_new') }}">Create new</a>
{% endblock %}
