{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<twig:Brodcump firstLink="app_admin_menu_index" firstLabel="Liste" pageActuel="Voir" />

<twig:Card:Card>
    <twig:Card:Header>
        <twig:H1>Menu {{ menu.name }} </twig:H1>
    </twig:Card:Header>

    <twig:Card:Body class="p-3">
        <div class="grid grid-cols-2 gap-6">
            <twig:Table :action="false">
                <tbody>
                    <twig:Tr>
                        <th>Name</th>
                        <twig:Td>{{ menu.name }}</twig:Td>
                    </twig:Tr>

                    <twig:Tr>
                        <th>Lable</th>
                        <twig:Td>{{ menu.label }}</twig:Td>
                    </twig:Tr>
                    <twig:Tr>
                        <th>Description</th>
                        <twig:Td>{{ menu.description }}</twig:Td>
                    </twig:Tr>
                    <twig:Tr>
                        <th>Icon</th>
                        <twig:Td>
                            <div class="w-6 h-6"> {{ menu.icon | raw }} </div>
                        </twig:Td>
                    </twig:Tr>
                    <twig:Tr>
                        <th>Is_activated</th>
                        <twig:Td>
                            {% if menu.isActivated %}
                            <twig:Badget type="primary"> activé </twig:Badget>
                            {% else %}
                            <twig:Badget type="danger"> non activé </twig:Badget>
                            {% endif %}
                        </twig:Td>
                    </twig:Tr>
                    <twig:Tr>
                        <th>Orders</th>
                        <twig:Td>
                            <twig:Badget type="primary"> {{ menu.orders }} </twig:Badget>
                        </twig:Td>
                    </twig:Tr>

                    <twig:Tr>
                        <th>Type de menu</th>
                        <twig:Td>{{ menu.type.type }}</twig:Td>
                    </twig:Tr>
                </tbody>
            </twig:Table>

            <twig:Card:Card>
                <twig:Card:Header>
                    <twig:Card:CardTitle> sous menus </twig:Card:CardTitle>
                </twig:Card:Header>

                <twig:Card:Body>
                    <twig:Table :thead="['#', 'title']">
                        {% for key, item in menu.sousMenus %}
                        <twig:Tr>
                            <twig:Td> {{ key + 1 }} </twig:Td>
                            <twig:Td> {{ item.title }} </twig:Td>
                            <twig:Td>
                                <div class="flex items-center justify-end gap-2.5">
                                    <a href="{{ path('app_admin_sous_menu_edit', {'id': item.id}) }}"
                                        class="border border-gray-300 bg-gray-100 text-gray-70 px-4 py-1.5 rounded-md my-2">
                                        <twig:Icon:Edit />
                                    </a>

                                    <form method="post"
                                        action="{{ path('app_admin_sous_menu_delete', {'id': item.id}) }}"
                                        onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                        <button
                                            class="border border-red-800 bg-red-500 text-red-50 px-4 py-1.5 rounded-md my-2">
                                            <twig:Icon:Delete />
                                        </button>
                                    </form>
                                </div>
                            </twig:Td>
                        </twig:Tr>
                        {% else %}
                        <tr>
                            <td colspan="3">Auccune sous menu Associé</td>
                        </tr>
                        {% endfor %}
                    </twig:Table>
                </twig:Card:Body>
            </twig:Card:Card>
        </div>
    </twig:Card:Body>

    <twig:Card:Footer class="flex items-center gap-2 p-3">
        <twig:Action:Edit href="{{ path('app_admin_menu_edit', {'id': menu.id}) }}" />
        {{ include('admin/menu/_delete_form.html.twig') }}
    </twig:Card:Footer>
</twig:Card:Card>
{% endblock %}